@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-black: #000;
  /* Define a cor preta como uma variável */
  --color-white: #fff;
  /* Define a cor branca como uma variável */
  --color-link: #7f7f7f;
  /* Define uma cor para os links como uma variável */
  --color-link-hover: #004c94;
  /* Define a cor dos links ao passar o mouse como uma variável */
  --color-background: #2c2c2c;
  --color-logo: #0084f3;
  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
  --tamanho-da-fonte: 1.5rem;
  --tamanho-da-fonte-alt: 1rem;
  /*--color-background: rgb(187, 15, 187);*/
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
}

body {
  font-family: Arial;
  font-size: var(--tamanho-da-fonte);
  font-family: var(--fonte-secundaria); /* Aplica a fonte secundária ao corpo */
  color: var(--color-black); /* Define a cor do texto padrão */
}

/* Header */
.header-inner-content {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: var(--color-background);
  padding: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 10px 0px 10px var(--color-background);
  z-index: 99;
}

.navbar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  color: var(--color-logo);
  font-size: var(--tamanho-da-fonte);
}
.logo > span {
  color: var(--color-white);
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-icon-container {
  display: flex;
  align-items: center;
}

.nav-icon-container img {
  width: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.nav-icon-container img:first-child {
  margin-right: 1rem;
}

nav ul li {
  margin-right: 1.2rem;
  color: var(--color-white);
  cursor: pointer;
}

nav ul li:hover {
  transform: translateY(-5px);
  transition: all 0.3s;
  font-weight: bold;
}

.menu-button {
  display: none;
}

header {
  background-image: radial-gradient(#fff, #c7c7c7);
}
.header--bottom--side {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 1rem;
}
.header--bottom--side--left {
  height: 100%;
  flex-basis: 50%;
}

.header--bottom--side--left h2 {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}
.header--bottom--side--left p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.header--bottom--side--left button {
  background-color: var(--color-link);
  border: none;
  cursor: pointer;
  padding: 0.8rem 3.8rem;
  border-radius: 9999px;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s;
}
.header--bottom--side--left button:hover {
  background-color: var(--color-link-hover);
}

.header--bottom--side--right {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header--bottom--side--right img {
  width: 115%;
}

@media screen and(max-width: 800px) {
  .logo {
    font-size: 1.1rem;
  }
  .header--bottom--side--left h2 {
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
  }

  nav {
    position: absolute;
    background-color: var(--color-background);
    width: 100%;
    top: 48px;
    display: none;
  }
  .show-menu nav {
    display: block;
  }
  .menu-button {
    display: block;
  }
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    padding: 1rem;
    text-align: center;
  }

  .busca__barra {
    width: 100%; /* Ocupa toda a largura */
    margin: 8px 0; /* Margem vertical */
  }

  .container-products {
    flex-direction: column; /* Alinha os produtos verticalmente em telas pequenas */
  }
  .product {
    flex: 1 1 calc(50% - 20px);
  }
}
